
/* Editor (TinyMCE)
=============================================================================*/

/* Editor colour picker: Dark BG */
.wbb-list {
    background-color: #444444 !important;
}

.wbb-list .sc {
	border-color: transparent !important;
}

/* Editor colour picker: Bigger swatches */
@media (min-width: 992px) {
	.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .wbb-list {
		max-height: 270px;
		padding: 10px 15px;
		width: 242px;
	}

	.wbb-list .sc {
		height: 20px;
		width: 20px;
	}
}

/* editor toolbar: Dark BG for text dropdowns */

.wysibb-toolbar-container:nth-child(4n) {
    background-color: #444444 !important;
    color: white;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select:hover,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select.on:active {
	background-color: #787878 !important;
}

/* Editor: Max height = viewport height */
#section .wysibb-text-editor,
#section #mod-editing-content .wysibb-text-editor {
    max-height: 85vh !important;
    min-height: 200px !important;
}



/* Chunky Pagination V2 - Copies from @media(max-width:480px)
=============================================================================*/

/* bottom only: .bottom-nav */

#mod-list .bottom-nav .pagination ul li a {
	padding: 16px 18px;
	height: 47px;
}
#mod-list .bottom-nav .pagination ul li.prev a,
#mod-list .bottom-nav .pagination ul li.next a {
	min-width: 20px;
}
#mod-list .bottom-nav .pagination ul li.extra {
	display: none;
}
#mod-list .bottom-nav .pagination .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 48px;
}
#mod-list .bottom-nav .pagination ul li a,
#mod-list .bottom-nav .pagination .select2-container .select2-selection--single {
	height: 47px;
}
#mod-list .bottom-nav .pagination .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 47px;
}


/* Hide: Upgrade Nags
=============================================================================*/

/* Banner: "your download speed is capped" */
.premium-banner.container {
	display: none !important;
}

/* Footer: Premium upgrade button */
.rj-supporter-wrapper {
	display: none !important;
}


/* Hide: Misc
=============================================================================*/

/* Hide Vortex footer banner */
section#rj-vortex {
	display: none !important;
}


/* Custom: Vortex Download Message
=============================================================================*/

.vortex-download-note {
	font-size: 0.8em;
	color: #828282;
}

@media (max-width: 767px) {
	.vortex-download-note {
		font-size: 0.5em;
	}
}